#calcMain {
    background-color: rgb(39, 184, 176);
    height: 400px;
    width: 300px;
    display: flexbox;
    position: relative;
    left: 481px;
    top: 10px;
}

#calcDisplay {
    position: relative;
    background-color: rgba(211, 211, 211, 0.651);
    height: 100px;
    margin: 0px 9px 9px 9px;
    top: 9px;
}

#calcButtons {
    background-color: rgba(255, 199, 193, 0.822);
    position: relative;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px 9px 9px 9px;
    top: 9px;
}

button {
    position: relative;
    width: 61px;
    margin: 5px 3px 5px 3px;
    font-size: 20pt;
    height: 58px
}

button:hover {
    background-color: yellow;
}

.numButton {
    background-color: palegreen;
}

.opButton {
    background-color: paleturquoise;
}

#equals {
    background-color: royalblue;
}

#equals:hover {
    background-color: yellow;
}

#clear {
    background-color: rgba(65, 105, 225, 0.486);
}

#clear:hover {
    background-color: yellow;
}

#calcEquationText {
    font-size: 48pt;
    position: relative;
    float: inline-end;
    top: 25%;
    right: 10px;
}

#calcShadowText {
    font-size: 12pt;
    position: relative;
    float: inline-start;
}